@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
  cursor: url(cursor.png), pointer;
  background-image: url("bg.png");
  background-color: #F7F5EC;
  animation: scrollz 10s infinite cubic-bezier(0.500, 0.500, 0.500, 0.500);
}

body {
  font-size: 35px;
  font-family: Dosis;
  font-weight: 800;
  text-shadow: 1px 2px #A7A5FF;
  color: #5C5B8C;
}

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden ;
  position: relative ;
  transition: 0.5s color ease !important;
  text-decoration: none;
  transform: translateY(4px);
}

a{
  color: #157BAE;
  margin: 0;
}

a:hover {
  color: #A1D2FC;
  cursor: url(cursor.png), pointer;
  transform: translateY(4px);
}


@keyframes scrollz {
        0%{background-position: 0% 0%;}
        100%{background-position: -512px 512px;}
}

@keyframes floating {
	0% {transform: translateY(0%);}
	50% {transform: translateY(4%);}
	100% {transform: translateY(0%);}
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #D4E8F7;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    box-shadow: 4px 4px 1px 0px rgba(50, 50, 50, 0.28);
}

.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 10%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color:   transparent transparent #D4E8F7 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.contentzone {
  margin: auto;
  padding-top: 40px;
  max-width: 1200px;
  width: auto;
}

.textblock {
  background: #FFFFFF;
  border: 10px solid #5C5B8C;
  padding: 20px;
  border-radius: 30px;
  width: 700px;
  box-shadow: 4px 4px 1px 0px rgba(50, 50, 50, 0.28);
}

.textblock img {
  max-width: 50%;
  width: auto;
  float: right;
}

.gallery {
  background: #FFFFFF;
  border: 10px solid #5C5B8C;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  box-shadow: 4px 4px 1px 0px rgba(50, 50, 50, 0.28);
  padding: 10px;
  text-align: center;
}

.gallery img {
  margin: auto;
  max-width: 30%;
}

.main {
  float: right;
}

.navblock {
  background: #D4E8F7;
  font-size: 28px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-radius: 30px;
  box-shadow: 4px 4px 1px 0px rgba(50, 50, 50, 0.28);
}

.triangle {
    float:left;
    border-color: transparent transparent white transparent;
    border-style: solid;
    margin-right: 20px;
    border-width: 0px 0px 50px 50px;
    height: 0px;
    width: 0px;
}

#float{
  animation: floating 4s infinite;
  float: left;
  width: 400px;
  height: auto;
}

#linkz img:hover{
  transform: translateY(4px);
}

@media only screen and (max-width: 1200px) {

  .contentzone {
    width: 100%;
  }

  body {
    font-size: 43px;
  }

  .main {
    float: none;
    width: 80%;
    margin: auto;
  }

  #float {
    float: none;
    width: 50%;
    margin: auto;
    margin-left: 25%;
    margin-bottom: 40px;
  }

  .navblock {
    float: none;
    width: auto;
    margin: auto;
    margin-bottom: 30px;
  }

  .textblock {
    width: auto;
  }

  .textblock img {
    width: 100%;
    float: none;
    max-width: 80%;
    margin: 40px 10%;
  }

}
