@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
  font-family: 'Dosis', sans-serif;
  background-color: #E1F7F7;
  display: table;
  margin: auto;
}

iframe {
  align-self: center;
  width: 70%;
  margin-left: 15%;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 15px;

}

body {
  max-width: 1366px;

  display: table-cell;
  vertical-align: middle;
}

a, li a {
  font-size: 20px;
  color: #9966C4;
}

ul, li {
  font-size: 20px;
  font-weight: bold;
  color: #3887C4;
  list-style-type: none;
  padding: none;
  padding-left:0;
  max-width: 50px;
}

ul#menu ul {
    padding:0px;
}

ul#menu li {
    position:relative;
    list-style-type:none;
    float: left;
    width: 125px;
}
ul#menu li > ul {
    display: none;
}
ul#menu li:hover > ul {
    display:block;
    padding-left: 20px;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

.content_zone {
  background-color: white;
  border-radius: 15px;
  padding: 16px;
  margin: 5%;
  box-shadow: 0px 0px 0px 8px rgba(49, 44, 70, 1);
}

#small_info {
  width: auto;
  height: auto;
  float: left;
  margin: none;
  padding-right: none;
}

#big_info {
  width: 60%;
  height: auto;
  float: right;
  padding-left: none;
  margin: none;
}

#page_container {
  width: 100%;
}

#gallery {
  width: 60%;
  height: auto;
  float: right;
  padding-left: none;
  margin: none;
  display: table;
}

#gallery img {
  max-width: 48%;
  padding-left: 10px;
  padding-bottom: 10px;
  height: auto;
  justify-content: table-cell;
}

@media only screen and (max-width: 850px) {

  body {
    padding-right: 10%;
    padding-left: 3%;
  }

  #page_container {
    display: block;
    width: 100%;
    height: auto;
  }

  #small_info {
    display: block;
    width: 85%;
    max-width: none;
  }

  #big_info {
    width: 85%;
    margin-top: 30px;
    padding-left: none;
    min-width: 100px;
  }

  #gallery {
    width: 85%;
    margin-top: 30px;
    padding-left: none;
    min-width: 100px;
  }

  #gallery img{
    max-width: 95%;
    padding-right: 10px;
  }

}
