
/* global/html defaultspace (overwriting) */
body{
  background: #442568;
  height: 100%;
  margin: 0;
  font: 4vh"Dosis";
  -webkit-font-smoothing : none;
}

body, html {
    cursor: url(cursor.png), pointer;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  font-family: 'Dosis', sans-serif;
  background-color: #E5F2FC;
  width: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body{
  background: #442568;
  height: 100vh;
  margin: 0;
  font: 4vh"Dosis";
  -webkit-font-smoothing : none;
}
iframe {
  margin-left: 20%;
  width: 300%;
  height: 900px;
  padding: 0;
}
h1{
  font-family: 'Dosis';
  font-weight: bold;
  margin: auto;
  font-size: 18pt;
}

p{
  font-size: 14pt;
  font-weight: normal;
}

header{
  width: 100%;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden ;
  position: relative ;
  transition: 0.5s color ease !important;
  text-decoration: none;
}

a{
  color: #EABEE2;
  margin: 0;
}

a:hover {
  color: #A1D2FC;
}

a.before:before, a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  position: absolute;
}

/* class space */
.main{
  padding-top: 10px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  -moz-box-shadow: inset 1px 11px 31px -20px #000000;
  -webkit-box-shadow: inset 1px 11px 31px -20px #000000;
  box-shadow: inset 1px 11px 31px -20px #000000;
}

.zone{
  background-color: #8368BA;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  padding-bottom: 6px;
  height: auto;
  width: 80%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.zone img #left{
  display: inline-block;
  float: left;
}
.zone img #right{
  display: inline-block;
  float: right;
}

.text-zone{
  display: inline-block;
  width: auto;
  margin: 4px 4px 4px 4px;
  height: x;
}

.image-left img{

}

.footey{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1;
  padding-bottom: 1px;
  text-align: center;
  background-color: #8368BA;
}

.footey p, a{
  font-size: 10pt;
}

.item {

}

/* id space */

#pagehead{
  background-color: #8368BA;
  height: auto;
  font-size: 20px;
  width: 100%;
  position:fixed;
  top: 0;
  margin:auto;
  left: 0;
  right: 0;
  z-index: 1000;

}

#navbar{
  margin: auto;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
  list-style: none;
  text-align: left;
}
#navbar h1 {
  font-size: 20px;
  margin: 0;
}
#navbar li{
  display: inline-block;
  text-align: center;
  font-size: 8px;
  height: auto;
  width: 80px;
  padding: 5px 5px 5px 5px;
  background-color: #4B3777;
  margin-right: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-transition:all .2s ease-in;
}

a:hover #navbar li{
  -moz-box-shadow: 0 4px 18px -5px #423f3f;
  -webkit-box-shadow: 0 4px 18px -5px #423f3f;
  box-shadow: 0 4px 18px -5px #423f3f;
}
#navbar li #current{
  display: inline-block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#top-half{
  background-color: #A27DD8;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#top-half h1{
  margin: auto;
}

#bot-half{
  background-color: #A27DD8;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
