body{
  background: #442568;
  height: 100vh;
  margin: 0;
}

body, html {
    cursor: url(cursor.png), pointer;
}

.zone {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

#tuckicon, {
  width: 40%;
  margin-left: 30%;
  text-align: center;
}

#tuckicon img{
  max-width: 480px;
}
