body{
  font-family: 'Roboto', sans-serif;
  background: url(../pics/checkers.png);
  width: 100%;
  height: 380px;
  padding: 0;
  margin: 0;
}

header{
  width: 100%;
  padding: 0;
}

.logo{
  display: block;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.main{
  background-color: #EDF7FF;
  padding: 0;
}

#horizontal-scroll {
width: 100%;
height: 200px;
margin-top: 200px;
padding: 0;
background: url(../pics/bottomclouds.png);
-webkit-animation: backgroundScroll 40s ease-in-out infinite;
animation: backgroundScroll 40s ease-in-out infinite;
}

@-webkit-keyframes backgroundScroll {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0% 0; }
}

@keyframes backgroundScroll {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0% 0; }
}

a {
  color: pink;
}

a:hover{
  color: blue;
}

a:active{
        color: lime;
}
