
/* global/html defaultspace */

body{
  font-family: 'Roboto', sans-serif;
  background: url(../pics/checkers.png);
  background-attachment:fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 24;
}

p{
  font-size: 16;
}

header{
  width: 100%;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden ;
  position: relative ;
  transition: 0.5s color ease !important;
  text-decoration: none;
}

a{
  color: pink;
}

a:hover {
  color: #b39db7;
}

a.before:before, a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  position: absolute;
}

/* global/html defaultspace */

.logo{
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 0;
  max-width: 100%;
}

.main{
  background-color: #E5F2FC;
  padding-top: 10px;
  margin: 0;
  padding-bottom: 20px;
  -moz-box-shadow: inset 1px 11px 31px -20px #000000;
  -webkit-box-shadow: inset 1px 11px 31px -20px #000000;
  box-shadow: inset 1px 11px 31px -20px #000000;
}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
.wiggle-me:hover{-ms-animation:wiggle .5s 2;-moz-animation:wiggle .5s 2;-webkit-animation:wiggle .5s 2;animation:wiggle .5s 2;}

.zone{
  padding: 0;
  margin: auto;
}

.footey{
  position:absolute;
  bottom: inherit;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0;
  text-align: center;
  background-color: #baebae;
  -webkit-box-shadow: 0px 30px 18px 26px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 30px 18px 26px rgba(0,0,0,0.75);
  box-shadow: 0px 30px 18px 26px rgba(0,0,0,0.75);
}

.footey p, a{
  font-size: 12px;
}


#hi h1, #hi p{
  padding: 0;
  margin: 0;
}

#intro{
  background-color: white;
  -moz-box-shadow: 0 3px 15px -3px #000000;
  -webkit-box-shadow: 0 3px 15px -3px #000000;
  box-shadow: 0 3px 15px -3px #000000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#pagebar{
  padding-top: 30px;
  height: auto;
  width: 100%;
}

#pages {
   text-align: center;
   width: 100%;
   padding: 0;
   margin: 0;
   padding-bottom: 10px;
}

#pages:after {
    content: '';
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

#pages li {
   image-rendering: -moz-crisp-edges;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   -ms-interpolation-mode: nearest-neighbor;
   display: inline-block;
   padding: 0;
   margin-left: 8px;
   margin-right: 8px;
}

#pages li:hover, #pages li:visited, #pages li:active {
  transform: translateY(4px);
}

#windows{
  height: auto;
  list-style: none;
  text-align: center;
  padding-right: 40px;
  padding-bottom: 10px;
}

#windows:after {
    content: '';
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

#windows li{
  list-style: none;
  display: inline-block;
  max-width: 50%;
  width: auto;
  vertical-align: top;
  margin-left: 2%;
  margin-right: 2%;
}

#socialz h1{
  margin-left: 20px;
  margin-right: 20px;
}

#contact{
  height: auto;
  list-style: none;
  text-align: center;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
}

#contact li{
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  list-style: none;
  display: inline-block;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

#socialz{
  background-color: #a0c6e5;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: auto;
  text-align: left;
  -moz-box-shadow: 0 3px 15px -3px #000000;
  -webkit-box-shadow: 0 3px 15px -3px #000000;
  box-shadow: 0 3px 15px -3px #000000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#top-half{
  background-color: #baebae;
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#top-half h1, #top-half p{
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 5px;
}

#soctop{
  background-color: #a0c6e5;
  padding-bottom: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#socbot{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  -moz-box-shadow: inset 0 10px 30px -20px #000000;
  -webkit-box-shadow: inset 0 10px 30px -20px #000000;
  box-shadow: inset 0 10px 30px -20px #000000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#tuckie{
  allign: left;
  width: 70%;
  height: auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#bot-half{
  -moz-box-shadow: inset 0 10px 30px -20px #000000;
  -webkit-box-shadow: inset 0 10px 30px -20px #000000;
  box-shadow: inset 0 10px 30px -20px #000000;
  background-color: white;
  text-align: left;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom:10px;
  padding-top: 10px;
}

#bot-half p{
  margin-left: 20px;
  margin-right: 20px;
  padding-top:10px;
}

#horizontal-scroll {
width: 100%;
height: 200px;
padding: 0;
background: url(../pics/bottomclouds.png);
-webkit-animation: backgroundScroll 40s ease-in-out infinite;
animation: backgroundScroll 40s ease-in-out infinite;
}


@-webkit-keyframes backgroundScroll {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0% 0; }
}

@keyframes backgroundScroll {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0% 0; }
}

@-webkit-keyframes itemhover {
  0% { transform: translateY(0%); }
  100% { transform: translateY(0%); }
}

@keyframes itemhover {
  0% { transform: translateY(0%); }
  100% { transform: translateY(0%); }
}

@media(max-width: 768px){

  #windows li{
    max-width: 90%;
    width: 90%;
    padding-top: 20px;
  }

  #pages img {
    zoom: 50%
  }
  #socialz h1{
    text-align: center;
  }
  #contact{
    height: auto;
    list-style: none;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  #contact li{
    list-style: none;
    display: inline-grid;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}
