body{
  background: #442568;
  height: 100vh;
  font: 3vh"Dosis";
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing : none;
}

body, html {
    cursor: url(cursor.png), pointer;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden ;
  position: relative ;
  transition: 0.5s color ease !important;
  text-decoration: none;
}

a{
  color: #EABEE2;
  margin: 0;
}

a:hover {
  color: #A1D2FC;
  cursor: url(cursor.png), pointer;
}

a.before:before, a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  position: absolute;
}

#element::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.area {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

.zone{
  background-color: #8368BA;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  padding: 0;
  padding-bottom: 6px;
  width: 80%;
  height: auto;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.zone img #left{
  display: inline-block;
  float: left;
}
.zone img #right{
  display: inline-block;
  float: right;
}

.text-zone{
  display: inline-block;
  width: auto;
  margin: 4px 4px 4px 4px;
  height: x;
}

#tuckicon, {
  width: 40%;
  margin-left: 30%;
  text-align: center;
}

#tuckicon img{
  max-width: 480px;
  width: 100%;
}

#under-icon{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#under-icon li{
  display: inline;
  text-align: center;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: #A1D2FC;
  font-weight: bold;
  width: auto;
}

#under-icon a{
  font-size: 3vh;

  width: auto;
}
