@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
  font-family: 'Dosis', sans-serif;
  background-color: #E1F7F7;
  display: table;
  margin: auto;
}

body {
  max-width: 1366px;

  display: table-cell;
  vertical-align: middle;
}

a, li a {
  font-size: 20px;
}

ul, li {
  list-style-type: none;
  padding: none;
  padding-left:0;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

.content_zone {
  background-color: white;
  border-radius: 15px;
  padding: 16px;
  margin: 5%;
  box-shadow: 0px 0px 0px 8px rgba(49, 44, 70, 1);
}

#small_info {
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  max-height: 300px;
  padding-right: none;
}

#big_info {
  width: 80%;
  padding-left: none;
  min-width: 100px;
}

#page_container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

#gallery {
  display: table;

}

#gallery img {
  max-width: 48%;
  padding-left: 10px;
  padding-bottom: 10px;
  height: auto;
  justify-content: table-cell;
}

@media only screen and (max-width: 768px) {

  body {
    padding-right: 10%;
    padding-left: 3%;
  }

  #page_container {
    display: block;
  }

  #small_info {
    display: block;
    width: 85%;
    max-width: none;
  }
  #big_info {
    width: 85%;
    margin-top: 30px;
    padding-left: none;
    min-width: 100px;
  }

  #gallery {
    margin-top: 30px;
    width: 85%;
  }

}
