@font-face {
  font-family: 'Hitchcock';
  src:
       url("Hitchcock.ttf")
       format('truetype');
}

html {
  background-color: #434966;
  font-family: "Hitchcock";
  src: url("Hitchcock.ttf");
  color: white;
  font-size: 20px;
  line-height: 1.3;
}

input, button {
  border: 0;
  font-family: "Hitchcock";
  color: black;
  font-size: 20px;
  padding: 16px;
  margin: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

button {
  background: #D3A876;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#main {
  justify: center;
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



#current_room {
  max-width: 100%;
  transform: skew(5deg, 2deg);
  background-color: #965496;
  width: 80%;
  height: 80px;
  margin-bottom: 20px;
  justify-content: center;
  margin-left: 10%;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#join_game {
  padding: 30px;
}

#player_select {
 width: 100%;
 display: inline;
 height: 100%;

}

#player_select input {
  transform: skew(5deg, -1deg);
  display: inline-block;
  margin: 10px;
  width: 40%;
  height: 400px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: white;
  font-size: 50px;
}

#move_list {
  transform: skew(5deg, -1deg);
  width: 80%;
  margin: 50px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #1F1F55;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#free_agent {
  transform: skew(5deg, -1deg);
  width: 80%;
  margin: 50px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #1F1F55;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#current_move {

}

#current_action {
  height: 100px;
  padding-top: 50px;
}

@media (hover:none), (hover:on-demand) {

  html {
    font-family: "Hitchcock";
    font-size: 35px;
  }

  input, button {
    font-size: 35px;
  }

  #current_room {
    font-size: 55px;
  }

  #player_select input {
    font-size: 70px;
  }

}
